.updateBtn {
  border: none;
  background-color: #ce375c;
  height: 45px;
  padding: 0 24px;
  margin-right: 20px;
  border-radius: 10px;
  color: #fff;
}

.transferBtn {
  border: 1px solid #ce375c;
  background-color: transparent;
  height: 45px;
  padding: 0 24px;
  margin-right: 20px;
  border-radius: 10px;
  color: #ce375c;
}

.formInput {
  height: 60px;
  border-radius: 4px;
  background-color: var(--light-grey);
}

input[type='password'],
input[type='text'] {
  background-color: var(--light-grey);
}

.submitBtn {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #ce375c;
  border: none;
  color: #fff;
}

.submitBtn:hover {
  background-color: #ce375c;
  border: none;
  color: #fff;
}

.goback {
  margin-bottom: 20px;
  border: none;
  background-color: #ce375c;
  color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
